body {
    background-color: rgba(156, 156, 156, 1);
  }
h2 {
    position: relative;
    margin-left: 250px;
    margin-top: 150px;
}
h3
{
    margin-left: 260px;
    margin-top: 70px;
}
img {
    float: center;
    width: 500px;
    margin-left: 700px;
    margin-top: -250px;
}