body {
    background-color: #821A1A;
  }

  h1 {
    text-align: center;
  }
  h2 {
    margin-left: 540px;
  }
  h3 {
    margin-left: 250px;
  }
  p {
    margin-left: 40px;
  }
#login {
  margin-left: 430px;
}
ul {
  margin-left: 500px;
}
footer {
  margin-left: 500px;
}