body {
    background-color: #821A1A;
  }

  h1 {
    text-align: center;
  }
 
  #mainindex{
    background-color:white;
    color: black;
    border-style: double;
    border-radius: 35px;
    border-color: red;
    font-size: bold;
  }

#login {
  text-align: center;
}
ul {
  text-align: center;
}
footer {
  text-align: center;
}